* {
  box-sizing: border-box;
}

body {
  display: flex;
  /* margin: 20px; */
  align-items: center;
  justify-content: center;
  padding: 0;
}

.container {
  background-color: steelblue;
  padding: 5em;
}

.title {
  font-size: 50px;
  margin-bottom: 75px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  transition: 1s all ease-in-out;
}
.square:hover {
  background-color: lightcyan;
}

.button {
  padding: 10%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

li {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
